
<%= render(:partial => "select1" ) %>

<div id="show_select" title="Options">
  <%= render(:partial => "select" ) %>
</div>

<%= render(:partial => "movielist" ) %>

<div class="slider-wrapper inline">
    <button class="tips" 
            title="<%= session[:save]['tag'] ? "prev Page" : "prev Minute" %>"
            id="minute-p" name="control" value="minute-p">
      <span class="ui-icon ui-icon-triangle-1-w"></span>
    </button>
    <div id="minute-slider" class="slider"></div>
    <button class="tips" 
            title="<%= session[:save]['tag'] ? "next Page" : "next Minute" %>"
            id="minute-n" name="control" value="minute-n">
      <span class="ui-icon ui-icon-triangle-1-e"></span>
    </button>
    <%= form_tag("/movies/select", :method => :post) do %>
      <%= hidden_field_tag(:page, @page) %>
    <% end %>
</div>

