<!-- Comment -->

<%= form_tag("/movies/select", :method => :post, :remote => true, :id => "form_select") do %>
<%= select_tag 'select_order', options_for_select($select_order_list, "#{@target}_#{@order}"), 
    {:onchange => "this.form.submit();"} %>
<%= select_tag 'select_num', options_for_select(@select_num_list, @num), {:onchange => "this.form.submit();"} %>
<% end %>
<div id="test"></div>

<div id="movie-list">
<% if true %>
  <div id="<%= @target %>-<%= @group_list[@num][0] %>">
    <p><%= @group_list[@num][0] %> :</p>
    <p>
      <% @group_list[@num][1].each_index do |i| %>
        <%= link_to image_tag(@group_list[@num][1][i], 
                              { :border => '1', :alt => '', :witdh => $width * $scale, :height => $height * $scale }), 
            @group_list[@num][1][i], { :class => "fancybox", :ref => "gallery", :alt => '', :caption => get_title(@group_list[@num][1][i]) } %>
        <% if (i+1)%$row== 0 %><br /><% end %>
      <% end %>
    </p>
  </div>
<% end %>
</div>




