<ul class="inline">
  <li>
    <%= @time %> <%= hidden_field_tag(:max_page, @list.num_pages) %>
  </li>
  <li>
    <div class="ui-buttonset">
      <%= form_tag("/movies/select", :method => :post) do %>
        <button class="tips" title="Prev Month" id="pm" name="control" value="pm">
          <span class="ui-icon ui-icon-seek-prev"></span>
        </button>
        <button class="tips" title="Prev Week" id="pw" name="control" value="pw">
          <span class="ui-icon ui-icon-triangle-1-w"></i>
        </button>
        <button class="tips" title="Next Week" id="nw" name="control" value="nw">
          <span class="ui-icon ui-icon-triangle-1-e"></i>
        </button>
        <button class="tips" title="Next Month" id="nm" name="control" value="nm">
          <span class="ui-icon ui-icon-seek-next"></i>
        </button>
      <% end %>
    </div>
  </li>
<li>
  <a id="camera-map-f" class="ui-button" href="#outline">
    Camera
  </a>
</li>
<li>
  <a id="open_select" class="ui-button">
    設定を変更
  </a>
</li>
</ul>

<div id="show_select" title="Show Option">
  <%= render(:partial => "select" ) %>
</div>
<div id="camera_map" class="container target">
  <%= render(:partial => "map" ) %>
</div>
<%= render(:partial => "movielist" ) %>

<div class="slider-wrapper inline">
  <%= form_tag("/movies/select", :method => :post) do %>
    <button class="tips" title="prev Minute" id="minute-p" name="control" value="minute-p">
      <span class="ui-icon ui-icon-triangle-1-w"></i>
    </button>
    <div id="minute-slider" class="slider"></div>
    <%= hidden_field_tag(:page, @page) %>
    <button class="tips" title="Next Minute" id="minute-n" name="control" value="minute-n">
      <span class="ui-icon ui-icon-triangle-1-e"></i>
    </button>
  <% end %>
</div>

<!--<%= paginate @list %>-->

<!--
245,318 -> 22
378,318 -> 5
502,318 -> 17
378,195 -> 19
502,195 -> 16
-->
