
<div id="image-full-<%= movie.id %>" class="image-full" style="display:none;">
  <div class="row-fluid">
    <div class="span12">
    <%= image_tag(movie.path, { 
                    :class => "camera-image-full img-polaroid", 
                    :border => '1', 
                    :alt => '', 
                  }) %>
    <p>CAMERA:<%= movie.camera %></p> 
    <p>DATE:<%= movie.date %></p>
    <p id="tag_info<%= movie.id %>">TAG:<%= movie.tag_list.join(" ") %></p>
    <%= form_tag("/movies/add_tag", 
                 :remote => true, 
                 :'data-type' => :json, 
                 :class => "tag_form right form-inline span4 offset4") do %>
      <div class="information alert alert-info">「」を追加しました</div>
      <input class="my-input addTagInput" name="addtag" type="text" />
      <button class="ui-button btn" name="id" value="<%= movie.id %>">タグを追加</button>
    <% end %>
  </div>
  </div>
</div>
