<div id="content">

  <div id="controller">
    <%= render(:partial => "btnlist" ) %>
  </div>

  <%= render(:partial => "tagform" ) %>

  <div id="info">
    <%= render(:partial => "info" ) %>
  </div>

  <% if true %>
    <div id="task">
      <%= render(:partial => "task" ) %>
    </div>
  <% end %>

  <%= hidden_field_tag(:now_time, @time) %>
  <%= hidden_field_tag(:mode, @mode) %>

  <% if (@mode == "date" || @mode == "part") && @list.size > 0 %>
    <%= hidden_field_tag(:full_now_time, @list[0].date) %>
  <% end %>
  <!-- movielist -->
  <%= render(:partial => "movielist" ) %>  

  <!-- pagination -->
  <%= render(:partial => "pagination" ) %>

  <%= render(:partial => "selectbox" ) %>

  <%= render(:partial => "tagall" ) %>

</div>
