<!DOCTYPE html>
<html>
  <head>
    <title>MI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      body {
        background: white;
      }
    </style>
  </head>
  <body>

    <div id="image-full-<%= @movie.id %>" class="image-full content">

      <div class="row">

        <div class="span1"></div>

        <div class="span8">
          <%= link_to image_tag(@movie.path, { 
                                  :class => "camera-image-full img-polaroid", 
                                  :border => '1', 
                                  :alt => '', 
                                }), @movie.path,
              { :alt => '', :target => '_top' } %>
        </div>

        <div class="span3" id="image-info">
          <p>
            <i class="icon-facetime-video"></i>
            <%= link_to @movie.camera, 
                "/movies/camera?camera=#{@movie.camera}", 
                { :class => "camera", :alt => '', :target => '_top' } %>
          </p> 
          <p><i class="icon-calendar"></i>
            <%= link_to get_info(@movie,'date').gsub('-','/'),
                "/movies/date?date=#{show_date(@movie.date)}", 
                { :class => "date", :alt => '', :target => '_top' } %></p>
          <p><i class="icon-time"></i> <%= get_info(@movie,'time').gsub('-',':') %></p>
          <p><i class="icon-tags"></i> </p>
          <div id="tag_info<%= @movie.id %>" class="tagf">
            <% @movie.tag_list.each do |tag| %>
              <%= link_to tag,
                  "/movies/tag?tag=#{tag}",
                  { :class => "", :alt => '', :target => '_top' } %>
            <% end %>
          </div>

          <div id="information" class="alert"></div>

          <ul id="tag_input_form" class="inline">
            <li>
              <%= render(:partial => "tags/add_form" ) %>
            </li>
          </ul>

        </div>
      </div>
    </div>
</body>
