
<div id="wrapper">

  <div id="header">
    <a href="/index.html">
      <%= image_tag("MILAiS_logo_header.png", { :border => '0', :alt => 'MILAiSLogo', :witdh => 550 * 0.3, :height => 117 * 0.3}) %>
    </a>
  </div>

  <div id="pages">
    <ul id="menu">
      <li><%= link_to "全体", '#tab-1' %></li>
      <li><%= link_to "詳細", '#tab-2' %></li>
    </ul>
    <div id="tab-1">
      <%= render "outline" %>
    </div>
    <div id="tab-2">
      <%= render "detail" %>
    </div>
  </div>
</div>

<% if false %><% end %>
