<!DOCTYPE html>
<html>
  <head>
    <title>MI</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="loader">
      <%= image_tag("loading.gif",{:alt => 'Loading...', :id => 'loading'}) %>
    </div>
    <div id="fade"></div>
    <div id="header">

    </div>
    <%= content_for?(:main) ? yield(:main) : yield %>
    <div id="footer">
      <a href="/index.html">
        <%= link_to "DB更新", :controller => "movies", :action => "allupdate" %>
          <%= link_to image_tag("MILAiS_logo_header.png", 
                                { :border => '0', :alt => 'MILAiSLogo' , :id => "milais_logo"}), 
              "http://www.milais.kyutech.ac.jp/" %>
      </a>
    </div>
  </body>
</html>
