<!DOCTYPE html>
<html>
  <head>
    <title>MI</title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if true %>
      <div id="fade">
        <div id="loader">
          <%= image_tag("loading.gif",{:alt => 'Loading...', :id => 'loading'}) %>
        </div>
      </div>

    <div id="header">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <%= link_to "DB更新", :controller => "movies", :action => "allupdate" %>
            <%= link_to image_tag("MILAiS_logo_header.png", 
                                  { :border => '0', :alt => 'MILAiSLogo' , :id => "milais_logo"}), 
                "http://www.milais.kyutech.ac.jp/" %>
          </div>
        </div>
      </div>
    </div>

    <!-- main content -->
    <%= content_for?(:main) ? yield(:main) : yield %>

    <div id="footer">
      <div class="container-fluid">
        <div class="row-fluid">
        </div>
      </div>
    </div>
    <% end %>

  </body>
</html>
